.TodoItem.done {
  color: #999999;

  .MuiCheckbox-colorSecondary.Mui-checked {
    color: #000;
  }
}

.TodoItem .remove {
  color: red;
  margin-left: 4px;
  cursor: pointer;
}

.TodoItem {
  .text {
    cursor: pointer;
  }
}
