.todo-overlay-active {
  .todoList {
    @keyframes fadeIn {
      to {
        opacity: 0;
      }
      from {
        opacity: 1;
      }
    }
    animation: fadeIn 1s ease-out;

    ul {
      width: 300px;
      margin: 0 auto;
    }
  }
}
